<div class="container" ng-controller="imageController">
    <div>
        <h2>Add Image</h2>
        <form id="formImage">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" ng-model="newImage.name" required>
            </div>
            <div class="form-group">
                <label for="path">Path:</label>
                <input type="text" class="form-control" id="path"ng-model="newImage.path" required>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary" ng-click="saveImage()">Save</button>
        </div>
    </div>
</div>